<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>{% block page_title %}{% endblock %}</title>

  {% block styles %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/bootstrap-responsive.min.css" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/custom.css" />
  {% endblock %}

  {% block scripts %}
  <script type="text/javascript" src="{{ STATIC_URL }}/js/jquery-1.8.3.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}/js/underscore-min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}/js/backbone-min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}/js/typeslist.js"></script>
  {% endblock %}

</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>