{% extends "base.html" %}

{% block page_title %}
Get Started
{% endblock %}

{% block content %}

<h1>Student Types</h1>

<div class="navbar">
    <div id="types-buttons" class="navbar-inner">
    </div>
</div>

<div id="types-steps"></div>

<p><b>Proof of Concept</b></p>
{% endblock %}
